html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
html {
  background: url('../img/french.jpg');
  height: 100%;
  position: relative;
  background-size: 100% center no-repeat;
}

.container {
  height: 100%;
  min-width: 100%;
  display: grid;
  grid-template-columns: 20vw auto auto 20vw;
  grid-template-rows: 20vh 10vh 5vh 400px 20vh;
  background: rgba(255,255,255,.5);
}

.title {
  justify-content: center;
  text-align: center;
  grid-row: 1;
  grid-column: 2/4;
  color: #29434e;
  font-size: 2em;
  z-index: 2;
}

.title img {
  margin-top: 1em;
}

#map {
  grid-row: 3/5;
  grid-column: 2/4;
  border: 5px solid #546e7a;
}

#floating-panel {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 30px;
  grid-row: 2;
  grid-column: 2/4;
  z-index: 5;
  background-color: #29434e;
  padding: 5px;
  border-top: 5px solid #546e7a;
  border-left: 5px solid #546e7a;
  border-right: 5px solid #546e7a;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 1.6em;
  margin-top: 2em;
}

#address {
  grid-row: 1;
  grid-column: 1;
  width: 98%;
  float: left;
  margin: 5px;
}

input#submit {
  grid-row: 1;
  grid-column: 2;
  margin: 5px;
  justify-self: center;
  justify-content: center;
  align-content: center;
}
