section {
  display: grid;
  grid-template-rows: 10vh 40vh 40vhs 10vh;
  grid-template-columns: 10vw 40vw 40vw 10vw;
}

* {
  box-sizing: border-box;
}

.sw-face {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: auto auto;
  grid-row: 2;
  grid-column: 2 / 4;
  width: 100%;
  height: 100%;
}

#timer {
  background-color: black;
  color: green;
  border: 5px solid black;
  display: grid;
  grid-template-columns: repeat(1fr, 12);
  grid-template-rows: 1fr 1fr 1fr;
  align-content: center;
  text-align: center;
  font-size: 3rem;
  height: 100%;
  width: 100%;
  grid-row: 1;
  grid-column: 1 / 4;
}

.ten-hours {
  grid-column: 1;
}

.hours {
  grid-column: 2;
}

.hh {
  grid-column: 1 / 3;
}

.sept-1 {
  grid-column: 3;
}

.ten-minutes {
  grid-column: 4;
}

.minutes {
  grid-column: 5;
}

.mm {
  grid-column: 4 / 6;
}

.sept-2 {
  grid-column: 6;
}

.ten-seconds {
  grid-column: 7;
}

.seconds {
  grid-column: 8;
}

.sec {
  grid-column: 7/9;
}

.sept-3 {
  grid-column: 9;
}

.tenths {
  grid-column: 10;
}
.hundereths {
  grid-column: 11;
}
.thousandths {
  grid-column: 12;
}

#start {
  grid-column: 1 / 4;
  grid-row: 3;
  border: 2px solid black;
  background-color: lightgreen;
}

#stop {
  grid-column: 4 / 8;
  grid-row: 3;
  border: 2px solid black;
  background-color: red;
}

#reset {
  grid-column: 8 / 13;
  grid-row: 3;
  border: 2px solid black;
  background-color: grey;
}

/*.laps {
  text-align: center;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-row: 4;
  grid-column: 2 / 4;
}

#lap-num {
  border: 1px solid green;
}

#time {
  border: 1px solid green;
}

#split {
  border: 1px solid green;
}
*/
