@import "@material/button/mdc-button";
@import "@material/theme/mdc-theme";
@import "@material/textfield/mdc-text-field";

html, body {
  background: #eee;
  font-size: 14px;
  box-sizing: border-box;
}

#mainContainer {
  display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: 5vh 10vh 30vh 40vh 5vh;
grid-row-gap: 0.6rem;
grid-template-areas: ". head head head ."
                     ". search search search ."
                     ". current current current ."
                     ". map map map .";
}

#title {
  grid-area: head;
  text-align: center;
}

#title h1 {
  margin: 0.6rem;
}

#search {
  text-align: center;
  grid-area: search;
}

#main-content {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-auto-flow: column;
  grid-area: current;
}

#main-content p {
  margin: 0.6rem;
  padding: 0;
}

.mdc-card {
  background: #eee;
  width: 80%;
  text-align: center;
  margin: 0;
}

#map.mdc-card {
  width: 100%;
  height: auto;
}

#main-content.mdc-card {
  width: 80%;
  height: auto;
  padding: 1rem;
}

#map {
  margin-top: 1rem;
  grid-area: map;
}

#search-btn {
  width: 100%;
  @include mdc-button-ink-color(teal);
  @include mdc-states(teal);
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  @include mdc-text-field-bottom-line-color(teal);
}

.mdc-components {
  box-sizing: border-box;
  display: flex;
  font-family: Roboto;
  margin: 64px auto;
  width: 1664px;
}
